@import url(./modern-normalize.css);

.cardGrid {
    display: flex;
    justify-content: center;
}

.cardGrid__image {
    width: 25ch;
    cursor: pointer;
}

.cardGrid__card {
    border: 2px solid;
    border-radius: 7%;
    margin: 0.8em;
    background-color: white;
}

.cardGrid__name {
    text-align: center;
    margin: 0;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .cardGrid__image {
        width: 16ch;
    }

    .cardGrid__card {
        margin: 0.3em;
    }

    .cardGrid {
        flex-wrap: wrap;
    }

    .cardGrid__name {
        font-size: 0.8em;
    }
}
