@import url(./modern-normalize.css);

.cardGrid {
    display: flex;
    justify-content: center;
}

.cardImage {
    width: 250px;
    cursor: pointer;
}

.card {
    border: 2px solid;
    border-radius: 7%;
    margin: 10px;
    background-color: white;
}

.cardName {
    text-align: center;
    margin: 0;
    cursor: pointer;
    /* color: #38bdf8; */
}

@media screen and (max-width: 480px) {
    .cardImage {
        width: 160px;
    }

    .cardGrid {
        flex-wrap: wrap;
    }
}
